@use "../custom" as *;
//MIXIN GRADIANTE
@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}

// CENTRAR
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
